/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import "tailwindcss";

html{
    scroll-behavior: smooth;
}

body{
    /* font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal; */
    @apply  text-neutral-700 scroll-smooth
}

@theme {
  --color-deepBlue: #0b1a78;
  --color-greenLight: #00b050;
  --color-yellowLight: #ffc929;
  --color-yellowish: #ffbf00;
  --color-deepGreen: #016630;
}

/* Hide the browser's default password eye/clear buttons */
input::-ms-reveal,
input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="password"]::-webkit-textfield-decoration-container,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-reveal {
  display: none;
}

.container {
  max-width: 100% !important;
}

.scrollbar-none::-webkit-scrollbar{
    display: none;
}

.scrollbar-custom::-webkit-scrollbar{
    width: 10px;
    @apply bg-slate-100
}
.scrollbar-custom::-webkit-scrollbar-thumb{
    @apply bg-neutral-400 rounded-full
}